---
const { title = "Alma S.R.L", description = "Servicios de ingenieria y obras." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/logo.png">


    <!-- SEO / OG -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    rel="stylesheet"
  />

  </head>
  <body class="font-sans text-gray-100" style="background-color: #28343D;">
  <a href="#main" class="sr-only focus:not-sr-only">Skip to content</a>
  <slot />
</body>

</html>

